node_modules/
npm-debug.log
yarn-error.log

.vscode/
.idea/
*.iml

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.dev.vars

config.json
hashes.json
csp.json

logs/
*.log
*.txt

.DS_Store

certificates
dist/
articles/
assets/img/
rdmp.txt

.wrangler/
.scripts/
.vctr_reports/
